.paginationBox {
  display: flex;
  justify-content: center;
  margin: 6vmax;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}

.page-item {
  background-color: rgb(255, 255, 255);
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.178);
  padding: 1vmax 1.5vmax;
  transition: all 0.1s;
  cursor: pointer;
}
.page-item:first-child {
  border-radius: 5px 0 0 5px;
}

.page-item:last-child {
  border-radius: 0 5px 5px 0;
}
.page-link {
  text-decoration: none;
  font: 300 0.7vmax "Roboto";
  color: rgb(80, 80, 80);
  transition: all 0.1s;
}

.page-item:hover {
  background-color: rgb(230, 230, 230);
}

.page-item:hover .page-link {
  color: rgb(0, 0, 0);
}

.pageItemActive {
  background-color: tomato;
}

.pageLinkActive {
  color: white;
}
.num-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: "60px";
  /* margin:"0px 20px"; */
}

.cat-lists {
  text-align: start;
}
.cat-lists:hover {
  cursor: pointer;
  color:black;
}
.side-star{
font-weight: 500;
}
.side-star :hover{
cursor: pointer;
color: black;
}
/* Hide default file input */
input[type="file"] {
  display: none;
}

/* Style custom file input */
.custom-file-input {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 6px;
  color: #333;
  font-weight: 500;
  font-size: 13px;
}
.account-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0px 30px 0px;
}

.profile-card{
  width: 700px;
}
.bttn-primary{
  height: 30px;
}